//all
$white: #ffffff;
//side
$blue: #2f3e51;
$sidecolor: #253141;
//main
$chat-name: #333333;
$light-blue: #38AEF0;
$light-glay: #999999;
$light-edit: #154fd6;
$messageback: #FAFAFA;
//form
$formback: #DDDDDD;
//flash
$black: #434a54;
$alert_orange: #F35500;