$left-padding: 0 20px 0 20px;
$right-padding: 0 40px 0 40px;
$form-height: 50px;
$whitefont: #ffffff;
$message-blackfont: #434a54;
$grayfont: #999999;
$bluecolor: #38aef0;
$textcursor: text;
$linkcursor: pointer; 
$alert_orange: #F35500;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;
$white: #fff;