$left-padding: 0 20px 0 20px;
$right-padding: 0 40px 0 40px;
$form-height: 50px;
$whitefont: #ffffff;
$message-blackfont: #434a54;
$grayfont: #999999;
$bluecolor: #38aef0;
$textcursor: text;
$linkcursor: pointer; 
$alert_orange: #F35500;